APP_NAME=@bot
SLACK_CLIENT_ID=0000000000.0000000000
SLACK_CLIENT_SECRET=abcdefghijk000000000000000
SLACK_VERIFICATION_TOKEN=abcdefghijk
SLACK_TOKEN=xoxb-000000000000-abcdefghijk
SLACK_WEBHOOK_URL=https://hooks.slack.com/services/hogehogehogehoge
SLACK_WORKSPACE=yourteam
SLACK_ADMIN_USERNAME=@yourslackname
COIN_UNIT=ETH
MONGO_URI=mongo
HOST_PORT=80
MESSAGE_LANG=ja